.darkGeneric {
    background-color: #2A2A2A !important;
    color: #f3f3f3 !important;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.lightGeneric{
  background-color: #f3f3f3;
    color: #212529;
}
.vectorLight{
  fill: #212529;
}
.vectorDark{
  fill: #f3f3f3;
}
.darkModeNavbar{
    border-radius: 0px 0px 15px 15px;
    opacity: 0.98;
    background-color: #3a3a3a;
    color: #f3f3f3;
}
.lightModeNavbar{
  border-radius: 0px 0px 15px 15px;
  opacity: 0.98;
  background-color: #D6D6D6;
  color: #212529;
}
.navbarItem:hover{
  opacity: 0.80;
}
.title{
    font-size: 4em !important;
    font-weight: 450;
}
.gatechLink{
    color:#B3A369;
}
.gatechLink:hover{
    color:#cec08c;
}
.darkMode{
  background-color: #4d4d4d;
  color:#F8F9FA;
  border:none;
  border-radius: 0.45rem;
}

.lightMode{
  background-color: #F8F9FA;
  color:#212529;
  border:none;
  border-radius: 0.45rem;
}

.darkModeForm, .darkModeForm:active{
  background-color: #3A3A3A !important;
  color:#F8F9FA !important;
  border:none !important;
  border-radius: 0.45rem !important;
  caret-color: #F8F9FA;
}

.lightModeForm, .lightModeForm:active{
  background-color: #F8F9FA !important;
  color:#212529 !important;
  border:none !important;
  border-radius: 0.45rem !important;
  caret-color: #3A3A3A;
}

.timeline {
    position: relative;
  }
  
  .timeline__progressbarDark {
    --width: 2px;
    --left: -moz-calc(((15vw / 2) + 15px) - (var(--width) / 2));
    --left: calc(((15vw / 2) + 15px) - (var(--width) / 2));
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: 150%;
    background-color: #3b3b3b;
    z-index: -1;
  }
  
  .timeline__progressbarDark::after {
    content: "";
    position: fixed;
    top: 0;
    left: var(--left);
    width: var(--width);
    height: 50vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#b25d46), color-stop(#a74141), color-stop(#743879), to(#4a3ca0));
    background: -webkit-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: -moz-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: -o-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  }
  
  @media screen and (min-width: 800px) {
    .timeline__progressbarDark {
      --width: 3px;
      --left: -moz-calc(50% - (var(--width) / 2));
      --left: calc(50% - (var(--width) / 2));
    }
  }

  .timeline__progressbarLight {
    --width: 2px;
    --left: -moz-calc(((15vw / 2) + 15px) - (var(--width) / 2));
    --left: calc(((15vw / 2) + 15px) - (var(--width) / 2));
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: 150%;
    background-color: #c2c2c2;
    z-index: -1;
  }
  
  .timeline__progressbarLight::after {
    content: "";
    position: fixed;
    top: 0;
    left: var(--left);
    width: var(--width);
    height: 50vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#b25d46), color-stop(#a74141), color-stop(#743879), to(#4a3ca0));
    background: -webkit-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: -moz-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: -o-linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
    background: linear-gradient(#b25d46, #a74141, #743879, #4a3ca0);
  }
  
  @media screen and (min-width: 800px) {
    .timeline__progressbarLight {
      --width: 3px;
      --left: -moz-calc(50% - (var(--width) / 2));
      --left: calc(50% - (var(--width) / 2));
    }
  }
  
  .timeline__block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15vw 1fr;
        grid-template-columns: 15vw 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  
  @media screen and (min-width: 800px) {
    .timeline__block {
      -ms-grid-columns: 1fr 15vh 1fr;
          grid-template-columns: 1fr 15vh 1fr;
    }
  }
  
  @media screen and (min-width: 800px) {
    .timeline__block__head {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      text-align: right;
      position: -webkit-sticky;
      position: sticky;
      top: 50vh;
    }
  }
  
  .timeline__block__body {
    grid-column: 2 / -1;
  }
  
  @media screen and (min-width: 800px) {
    .timeline__block__body {
      grid-column: 3 / -1;
    }
  }
  
  .timeline__block__bullet-point {
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media screen and (min-width: 800px) {
    .timeline__block__bullet-point {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
    }
  }
  
  .timeline__block__circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 4px solid #1E1E1E;
    background-color: #ffffff;
    border-radius: 50%;
  }
  
  .timeline__block__title {
    font-size: 3rem;
  }
  
  @media screen and (max-width: 799px) {
    .timeline__block__title {
      margin-top: -1.5rem;
      margin-bottom: 2rem;
    }
  }
  
  /* @media screen and (min-width: 800px) {
    .timeline__block__title {
      line-height: 0;
    }
  }
   */
  .timeline__block__text {
    font-size: 1.6rem;
    width: 90%;
  }
  
  @media screen and (min-width: 500px) {
    .timeline__block__text {
      font-size: 1.8rem;
    }
  }
  
  /* .timeline__hider {
    position: -webkit-sticky;
    position: sticky;
    bottom: -2px;
    width: 100%;
    height: 50vh;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0b0b0b));
    background: -webkit-linear-gradient(transparent, #0b0b0b);
    background: -moz-linear-gradient(transparent, #0b0b0b);
    background: -o-linear-gradient(transparent, #0b0b0b);
    background: linear-gradient(transparent, #0b0b0b);
    pointer-events: none;
  } */

  .timelineContainer {
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* [1] The container */
.img-hover-zoom {
  height: min-content; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  border-radius: 0.45rem;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .6s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.3);
}

.overlay{
  z-index: 1;
  opacity: 0.0;
}